<section class="section experiences-section">
                <h2 style="font-weight:bold" class="section-title"><i class="fa fa-briefcase"></i>项目经历</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 style="font-weight:bold" class="job-title">开源水利WEBGIS系统（JavaScript, CSS, HTML, Python）</h3>
                            <div class="time">2016.4 - 2016.9</div>
                        </div><!--//upper-row-->
                        <div class="company">长勘院水利规划研究院, 项目负责人</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>本系统是个人与长勘院水利规划研究院合作的开源水利WEBGIS， 个人利用业余时间独立完成整个系统，目的是将部分水利规划相关业务工作转移到WEB 端完成，前端后端都使用开源库开源软件，前端基于 Openlayers 后端基于 GeoServer 与 PostgreSQL 开发.</p>  
                        <p>功能包括主流网络地图加载、自定义地图加载、缩放、全图浏览、属性查询、搜索、属性表格显示、定位、编辑、上传下载、空间分析等. </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 style="font-weight:bold" class="job-title">基于LIDAR的机器人实时定位与制图（C++）</h3>
                            <div class="time">2016.4 - 至今</div>
                        </div><!--//upper-row-->
                        <div class="company">实验室自主科研项目, 项目负责人</div>
                    </div><!--//meta-->
                    <div class="details">
                         <p>此项目目标是组建完整的能实现自主实时定位与制图的机器人，并基于采集的LIDAR数据自动构建室内地图与室内三维模型</p>
                         <p>本人负责前期一种实时定位与制图算法TinySLAM的研究和点云方向顾问</p>
                    </div><!--//details-->
                </div><!--//item-->
                
				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 style="font-weight:bold" class="job-title">基于WEB的全息位置地图（Cesium, JavaScript，CSS, HTML）</h3>
                            <div class="time">2014.5 - 2015.2</div>
                        </div><!--//upper-row-->
                        <div class="company">实验室自主科研项目, 项目成员</div>
                    </div><!--//meta-->
                    <div class="details">
                         <p>此项目以位置为参考，通过实时动态获取位置坐标、位置属性、位置关系、位置移动特征等多源异构信息，迭加融合建立统一的时空地理关联的全信息的位置地图，最终实现全息位置地图通过移动设备和网页两种方式显示</p>
                         <p>本人负责三维地球库Cesium库研究</p>
                    </div><!--//details-->
                </div><!--//item-->
				
				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 style="font-weight:bold" class="job-title">车载激光点云中道路及标线辅助提取研究(ArcGIS, MATLAB)</h3>
                            <div class="time">2014.2 - 2015.4</div>
                        </div><!--//upper-row-->
                        <div class="company">武汉光庭信息技术股份有限公司, 项目成员</div>
                    </div><!--//meta-->
                    <div class="details">
                         <p>本项目目的是为导航地图数据采集人员从车载激光点云中提取车道线信息提供辅助，通过一些自动化及半自动化提取地面以及道路标线的算法来提高作业员的效率，本项目的部分算法已用于实际生产并作为科研成果发表文章.</p>
                         <p>本人负责管理项目并负责参与道路提取与道路标线提取算法研究</p>
                    </div><!--//details-->
                </div><!--//item-->
				
				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 style="font-weight:bold" class="job-title">基于WEB的三亚市三维数字城市 (MaxScript, 3ds Max)</h3>
                            <div class="time">2013.9 - 2014.3</div>
                        </div><!--//upper-row-->
                        <div class="company">海南省基础地理信息中心, 项目负责人</div>
                    </div><!--//meta-->
                    <div class="details">
                         <p>此项目目标是组建完整的能实现自主实时定位与制图的机器人，并基于采集的LIDAR数据自动构建室内地图与室内三维模型.</p>
                         <p>本人负责前期一种实时定位与制图算法TinySLAM的研究和点云方向顾问.</p>
                    </div><!--//details-->
                </div><!--//item-->
				
				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 style="font-weight:bold" class="job-title">制图规划辅助设计软件研发(AutoCAD, Oracle, ArcGIS, C++)</h3>
                            <div class="time">2012.12 - 2013.9</div>
                        </div><!--//upper-row-->
                        <div class="company">武汉市城市规划设计研究院, 项目负责人</div>
                    </div><!--//meta-->
                    <div class="details">
                         <p>本软件是基于AutoCAD开发的控制规划辅助设计软件，目的是为城市规划作业人员制作设计城市规划设计图提供便利，统一管理数据库并提供统计与分析功能，作为项目负责人带领一个十人团队在规划院驻地开发，锻炼了与甲方沟通能力及项目管理能力，能及时解决甲方提出的各种需求与问题.</p>
                         <p>本人负责软件的属性管理模块开发并参与辅助制图与空间分析模块及复杂算法（如道路中心线自动提取）攻关.</p>
                    </div><!--//details-->
                </div><!--//item-->
				
				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 style="font-weight:bold" class="job-title">全景激光三维建模辅助软件(AutoCAD, C#)</h3>
                            <div class="time">2011.11 - 2013.9</div>
                        </div><!--//upper-row-->
                        <div class="company">立得空间信息技术股份有限公司, 项目负责人</div>
                    </div><!--//meta-->
                    <div class="details">
                         <p>此项目目标是组建完整的能实现自主实时定位与制图的机器人，并基于采集的LIDAR数据自动构建室内地图与室内三维模型</p>
                         <p>本人负责前期一种实时定位与制图算法TinySLAM的研究和点云方向顾问</p>
                    </div><!--//details-->
                </div><!--//item-->
				
				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 style="font-weight:bold" class="job-title">土地空间使用权管理关键技术及规范研究(ArcGIS, C#)</h3>
                            <div class="time">2011.11 - 2013.9</div>
                        </div><!--//upper-row-->
                        <div class="company">深圳市规划国土发展研究中心, 项目成员</div>
                    </div><!--//meta-->
                    <div class="details">
                         <p>本人负责基于ArcGIS二次开发的三维地籍产权出证子系统</p>
                    </div><!--//details-->
                </div><!--//item-->
				
				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 style="font-weight:bold" class="job-title">电子制图系统-Mapper (ArcGIS, C++)</h3>
                            <div class="time">2010.9 - 2011.5</div>
                        </div><!--//upper-row-->
                        <div class="company">实验室自主知识产权制图软件项目, 项目成员</div>
                    </div><!--//meta-->
                    <div class="details">
                         <p>本人负责线符号空间冲突识别和线符号空间冲突自动处理</p>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->