<section class="section projects-section">
	<h2 style="font-weight:bold" class="section-title"><i class="fa fa-archive"></i>科研经历</h2>
                <div class="item">
                    <span class="project-title"><a href="#hook"> SCI</a></span> - <span class="project-tagline">A method based on an adaptive radius cylinder model for detecting pole-like objects in mobile laser  scanning data[J]. Remote Sensing Letter</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank"> SCI</a></span> - 
                    <span class="project-tagline">A dual growing method for the automatic extraction of individual trees from mobile laser scanning data[J].ISPRS Journal of Photogrammetry and Remote Sensing </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank"> SCI</a></span> - <span class="project-tagline">A clustering based segmentation method for urban scene MLS data[J]. ISPRS Journal of Photogrammetry and Remote Sensing</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank"> SCI</a></span> - <span class="project-tagline">Recognition and Reconstruction of Zebra Crossings on Roads from Mobile Laser Scanning Data[J]. ISPRS International Journal of Geo-Information</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">中文核心</a></span> - <span class="project-tagline">基于车载激光扫描的城市道路提取方法[J]. 测绘通报</span>
                </div><!--//item-->
				<div class="item">
                    <span class="project-title"><a href="#" target="_blank">中文核心</a></span> - <span class="project-tagline">基于用户情境的  POI 个性化推荐模型[J]. 测绘地理信息</span>
                </div><!--//item-->
				<div class="item">
                    <span class="project-title"><a href="#" target="_blank">中文核心</a></span> - <span class="project-tagline">基于体绘制的海洋温盐空间分布探究[J]. 测绘与空间地理信息</span>
                </div><!--//item-->
				<div class="item">
                    <span class="project-title"><a href="#" target="_blank">专利</a></span> - <span class="project-tagline">一种车载激光扫描数据中杆状物自动提取方法及系统</span>
                </div><!--//item-->
</section><!--//section-->